<div class="top-stripe">
      <div class="first-chevron"></div>
      <div class="second-chevron"></div>
      <div class="third-chevron"></div>
</div>
<nav class="page-nav">
    <ul>
        <li><%= link_to 'Home', articles_path %></li>
        <li><%= link_to 'New', new_article_path %></li>
    </ul>
</nav>

<div class="main-wrapper">
    <% @articles.reverse.each do |article| %>
        <div class="content-box">
            <h1><%= article.title %></h1>
            <p><%= article.text %></p>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Show', article_path(article) %>
        </div>
    <% end %>
</div>
