<div class="top-stripe"></div>
<nav class="page-nav">
    <ul>
        <li><%= link_to 'Home', articles_path %></li>
        <li><%= link_to 'New', new_article_path %></li>
    </ul>
</nav>

<div class="main-wrapper">
    <% @articles.reverse.each do |article| %>
        <div class="content-box">
            <a href="<%= article_path(article) %>"><h1><%= article.title %></h1></a>
            <p><%= article.text %></p>
            <%= link_to 'Edit', edit_article_path(article),{:class => "bottom-link"} %>
            <%= link_to 'Delete', article_path(article), method: :delete, :class => "bottom-link", data: { confirm: 'Are you sure?'} %>
        </div>
    <% end %>
</div>
